*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Nunito","SUSE", sans-serif;
    background-color: #000;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.main{
    width: 1062px;
    height: 430px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    text-align: center;
   border: 2px solid #000;
   padding: 32px 48px;
   
}
.plan{
    width: 262px;
    height: 362px;
    padding: 32px;
    border: 2px solid #000;
    border-radius: 8px;
    color: #000;
    text-align: left;
    background-color: #f5f6f6;
    cursor: pointer;
}
.plan h2{    
      font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    padding: 8px 8px;
}
.midde_item{
    background-color: #202842;
    color: #f5f6f6;
}
button{
    width: 156px;
    height: 38px;
    background-color: #202842;
    color: #f5f6f6;
    border: 1px solid #000;
    border-radius: 50px;
    gap: 10px;
    font-size: 16px;
    margin: 32px 25px 53px 53px;
}
p{
    padding: 8px 8px 4px 8px;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
}
img{
    left: 8px;
    padding: 3px 4px;
    gap: 10px;
}
h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    padding: 16px 8px;
    gap: 16px;
}
.check-mark{
    display: flex;
    flex-wrap: wrap;
    padding: 4px 8px;
}
.midde_item button{
    background-color: #f5f6f6;
    color: #202842;
}